body{
	margin:0;
	font-family: Samsung Sharp Sans, Helvetica;
}


header{
	background-color: #b2a1cd;
	text-align: center; 
	padding-top: 60px;
	padding-bottom: 50px;
}

h1, h2{font-family: Samsung Sharp Sans, Helvetica}


header img{
	height: 800px;	
}


header h1{
	color:white;
	font-size: 50px;
}




main{
	max-width: 800px;
}


