body{
	margin: 40;
	font-family: Samsung Sharp Sans, Helvetica;

}


header{
	padding-top: 50px;
	background-color: #b2a1cd;
	text-align: center; 
	padding-bottom: 50px;
}


header img{
	height: 500px;	
}


header h1{
	color:white;
	font-family: Samsung Sharp Sans, Helvetica;
}



