body{
	margin:0;
	font-family: Samsung Sharp Sans, Helvetica;
	line-height: 30px;
}


header{
	background-color: #b2a1cd;
	text-align: center; 
	padding-top: 50px;
	padding-bottom: 20px;
}

h1, h2{font-family: Samsung Sharp Sans, Helvetica}


header img{
	width: 80%;	
	margin: 80 80 80 0px;
}


header h1{
	color:white;
	font-size: 50px;
}

main{
	max-width: 100%;
	margin:160px;
}

main img{
	width: 100%;
}

p{
	font-weight: bold;
}




h2{
	font-size: 35px;
}

a:hover{
	color: #b2a1cd;
}


footer{
	background-color: #b2a1cd;
	text-align: center; 
	color: white;
}

footer p{
	margin: 0px;
}

footer a{
	color: black
	background-color: transparent;
}







